.movie-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.movie-details-title {
  font-size: 28px;
  margin-bottom: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.movie-details-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
}

.movie-details-image {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.movie-details-info {
  font-size: 16px;
  text-align: left;
  margin-right: 10px;
}

.movie-details-info label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
.movie-details-info span {
  font-weight: normal;
}
.back-button {
  text-decoration: none;
  font-size: 16px;
  color: #007bff;
  margin-top: 20px;
  display: block;
}

.back-button:hover {
  text-decoration: underline;
}

.detail-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  background: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
  z-index: 9999;
}
