.movie-list {
  margin-top: 20px;
}

.movie-list-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

@media (max-width: 768px) {
  .movie-list-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 480px) {
  .movie-list-container {
    grid-template-columns: auto;
  }
}

.movie-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  min-height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-item img {
  max-width: 80px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
}

.movie-details {
  flex: 1;
}

.movie-title {
  font-size: 16px;
  text-decoration: none;
}
.movie-title:hover {
  text-decoration: underline;
}